body {
	background-color: black;
}

header {
  background-image: url('../img/logobg.jpg');
  font-family: '', cursive;
  background-size: initial;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: center center;
  background-color: white;
  text-align: center;
}

header .intro-text {
  padding-top: 200px;
  padding-bottom: 100px;
  color: skyblue;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
}

.navbar-header img {
	display: inline;
	width: 70%;
	position: relative;
	
}

#title {
	text-align: center;
	font-size: 25px;
	color: red;

}

.intro-text {
	
	text-align: center;
	
}

#portfolio img {
	height: 50%;
	width: 50%;

}

.item img {
	height: 50%;
	width: 50%;
	text-align: center;
}
.carousel-inner img {
	height: 30%;
	width: 30%;
	padding-left: auto;
	padding-right: auto;
}
h3 {
	text-align: center;
	margin-bottom: 20px;
}
