body {
	background-color: black;
}

.navbar-header img {
	display: inline;
	width: 70%;
	position: relative;
	
}

#title {
	text-align: center;
	font-size: 25px;
	color: red;

}

.intro-text {
	background-image: url("../img/logobg.jpg");
	background-repeat: no-repeat;
	background-position: cover;
}